In [1]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [2]:
# extracting all tables in website
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
# finding tables in group stage
all_tables[13]
all_tables[20]
all_tables[27]
all_tables[62]

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1  Portugal (A)    2  2  0  0   5   2  +3    6  Advance to knockout stage
1    2         Ghana    2  1  0  1   5   5   0    3  Advance to knockout stage
2    3   South Korea    2  0  1  1   2   3  −1    1                        NaN
3    4       Uruguay    2  0  1  1   0   2  −2    1                        NaN

In [4]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [5]:
# A -> H
# 13 -> 7*8 + 13 = 69
dict_table = {}
for letter, i in zip(alphabet, range(13, 69, 7)):
    df = all_tables[i]
    df.rename(columns = {df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [6]:
dict_table['Group H']

   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Portugal (A)    2  2  0  0   5   2  +3    6
1    2         Ghana    2  1  0  1   5   5   0    3
2    3   South Korea    2  0  1  1   2   3  −1    1
3    4       Uruguay    2  0  1  1   0   2  −2    1

In [7]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [8]:
with open('dict_table','wb') as output:
    pickle.dump(dict_table,output)